// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2026 J. Neuschäfer
//
// LANCOM NWAPP, marketed as:
// - L-320agn Wireless
// - L-321agn Wireless
// - L-322agn dual Wireless
#include "mpc8314e.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>

/ {
	compatible = "lancom,nwapp", "fsl,mpc8314e";
	model = "LANCOM NWAPP";

	memory@0 {
		reg = <0x00000000 0x04000000>;	// 64MB at 0
	};

	aliases {
		serial0 = &serial0;
		pci1 = &pci1;
		pci2 = &pci2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/*
	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 10 GPIO_ACTIVE_HIGH>;
	};
	*/

	gpio-keys {
		compatible = "gpio-keys";

		reset-button {
			label = "Reset Button";
			linux,code = <KEY_SETUP>;
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
		};
	};

	/*
	gpio-leds {
		compatible = "gpio-leds";

		led_power_red: led-0 {
			label = "red:power";
			gpios = <&expander 0 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
		};

		led_power_green: led-1 {
			label = "green:power";
			gpios = <&expander 1 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
		};

		led_wlan_link_red: led-2 {
			label = "red:wlan-link";
			gpios = <&expander 2 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_RED>;
		};

		led_wlan_link_green: led-3 {
			label = "green:wlan-link";
			gpios = <&expander 3 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
		};

		led_wlan_data_red: led-4 {
			label = "red:wlan-data";
			gpios = <&expander 4 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
		};

		led_eth_red: led-10 {
			label = "red:eth";
			gpios = <&expander 10 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
		};

		led_power_top_red: led-12 {
			label = "red:power-top";
			gpios = <&expander 12 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_RED>;
		};

		led_power_top_green: led-13 {
			label = "green:power-top";
			gpios = <&expander 13 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
		};

		led_wlan_top_red: led-14 {
			label = "red:wlan-top";
			gpios = <&expander 14 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_RED>;
		};

		led_wlan_top_green: led-15 {
			label = "green:wlan-top";
			gpios = <&expander 15 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
		};
	};

	multi-led-power {
		compatible = "leds-group-multicolor";
		label = "multicolor:power";
		color = <LED_COLOR_ID_MULTI>;
		function = LED_FUNCTION_POWER;
		leds = <&led_power_red>, <&led_power_green>;
	};

	multi-led-wlan-link {
		compatible = "leds-group-multicolor";
		label = "multicolor:wlan-link";
		color = <LED_COLOR_ID_MULTI>;
		function = LED_FUNCTION_WLAN;
		leds = <&led_wlan_link_red>, <&led_wlan_link_green>;
	};

	multi-led-wlan-data {
		compatible = "leds-group-multicolor";
		label = "multicolor:wlan-data";
		color = <LED_COLOR_ID_MULTI>;
		leds = <&led_wlan_data_red>;
	};

	multi-led-eth {
		compatible = "leds-group-multicolor";
		label = "multicolor:eth";
		color = <LED_COLOR_ID_MULTI>;
		leds = <&led_eth_red>;
	};

	multi-led-power-top {
		compatible = "leds-group-multicolor";
		label = "multicolor:power-top";
		color = <LED_COLOR_ID_MULTI>;
		function = LED_FUNCTION_POWER;
		leds = <&led_power_top_red>, <&led_power_top_green>;
	};

	multi-led-wlan-top {
		compatible = "leds-group-multicolor";
		label = "multicolor:wlan-top";
		color = <LED_COLOR_ID_MULTI>;
		leds = <&led_wlan_top_red>, <&led_wlan_top_green>;
	};
	*/
};

&gpio {
	//gpio-line-names =
};

/* "ETH 2" */
&enet0 {
	status = "okay";
	phy-handle = <&phy0>;
	//phy-mode = "mii";
	phy-mode = "rgmii-id";
};

&mdio0 {
	compatible = "fsl,gianfar-mdio";
	status = "okay";

	phy0: ethernet-phy@2 {
		/* Marvell 88E3018-NNC1 */
		// TODO: requires additional driver support
		compatible = "ethernet-phy-ieee802.3-c22"; // ?
		reg = <2>;
	};
};

&enet1 {
	status = "okay";
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
};

&mdio1 {
	compatible = "fsl,gianfar-mdio";
	status = "okay";

	phy0: ethernet-phy@1 {
		/* Marvell 88E1116-NNC1 */
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

/*
&pci1 {
	status = "okay";
	ranges = <0x02000000 0 0x88000000 0x88000000 0 0x02000000>,
		 <0x01000000 0 0x00000000 0xc9080000 0 0x00800000>;
};

&pci2 {
	status = "okay";
	ranges = <0x02000000 0 0x88000000 0x8c000000 0 0x02000000>,
		 <0x01000000 0 0x00000000 0xc9900000 0 0x00800000>;
};
*/

&serial0 {
	status = "okay";
};

&spi {
	status = "okay";

	expander: gpio-controller@0 {
		compatible = "fairchild,74hc595"; /* TI CD74HC164 */
		reg = <0>;
		spi-max-frequency = <5000000>;
		gpio-controller;
		#gpio-cells = <2>;
		registers-number = <2>;
	};
};
