// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * MPC8315E RDB Device Tree Source
 *
 * Copyright 2007 Freescale Semiconductor Inc.
 */

/dts-v1/;
#include "mpc8315e.dtsi"

/ {
	compatible = "fsl,mpc8315erdb";
	model = "MPC8315E-RDB";

	aliases {
		ethernet0 = &enet0;
		ethernet1 = &enet1;
		serial0 = &serial0;
		serial1 = &serial1;
		pci0 = &pci0;
		pci1 = &pci1;
		pci2 = &pci2;
	};

	memory@0 {
		reg = <0x00000000 0x08000000>;	// 128MB at 0
	};

	leds {
		compatible = "gpio-leds";

		led-pwr {
			gpios = <&mcu_pio 0 0>;
			default-state = "on";
		};

		led-hdd {
			gpios = <&mcu_pio 1 0>;
			linux,default-trigger = "disk-activity";
		};
	};
};

&localbus {
	status = "okay";

	// CS0 and CS1 are swapped when
	// booting from nand, but the
	// addresses are the same.
	ranges = <0x0 0x0 0xfe000000 0x00800000
		  0x1 0x0 0xe0600000 0x00002000
		  0x2 0x0 0xf0000000 0x00020000
		  0x3 0x0 0xfa000000 0x00008000>;

	flash@0,0 {
		compatible = "cfi-flash";
		reg = <0x0 0x0 0x800000>;
		#address-cells = <1>;
		#size-cells = <1>;
		bank-width = <2>;
		device-width = <1>;
	};

	nand@1,0 {
		compatible = "fsl,mpc8315-fcm-nand",
			     "fsl,elbc-fcm-nand";
		reg = <0x1 0x0 0x2000>;
		#address-cells = <1>;
		#size-cells = <1>;

		u-boot@0 {
			reg = <0x0 0x100000>;
			read-only;
		};

		kernel@100000 {
			reg = <0x100000 0x300000>;
		};
		fs@400000 {
			reg = <0x400000 0x1c00000>;
		};
	};
};

&i2c {
	status = "okay";

	rtc@68 {
		compatible = "dallas,ds1339";
		reg = <0x68>;
	};

	mcu_pio: mcu@a {
		compatible = "fsl,mc9s08qg8-mpc8315erdb",
			     "fsl,mcu-mpc8349emitx";
		reg = <0x0a>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&enet0 {
	tbi-handle = <&tbi0>;
	phy-handle = <&phy0>;
	fsl,magic-packet;
	status = "okay";

	mdio@520 {
		status = "okay";

		phy0: ethernet-phy@0 {
			interrupt-parent = <&ipic>;
			interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
			reg = <0x0>;
		};

		phy1: ethernet-phy@1 {
			interrupt-parent = <&ipic>;
			interrupts = <19 IRQ_TYPE_LEVEL_LOW>;
			reg = <0x1>;
		};

		tbi0: tbi-phy@11 {
			reg = <0x11>;
			device_type = "tbi-phy";
		};
	};
};

&enet1 {
	tbi-handle = <&tbi1>;
	phy-handle = <&phy1>;
	fsl,magic-packet;
	status = "okay";

	mdio@520 {
		status = "okay";

		tbi1: tbi-phy@11 {
			reg = <0x11>;
			device_type = "tbi-phy";
		};
	};
};

&pci1 {
	status = "okay";

	pcie@0 {
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		reg = <0 0 0 0 0>;
		ranges = <0x02000000 0 0xa0000000
			  0x02000000 0 0xa0000000
			  0 0x10000000
			  0x01000000 0 0x00000000
			  0x01000000 0 0x00000000
			  0 0x00800000>;
	};
};

&pci2 {
	status = "okay";

	pcie@0 {
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		reg = <0 0 0 0 0>;
		ranges = <0x02000000 0 0xc0000000
			  0x02000000 0 0xc0000000
			  0 0x10000000
			  0x01000000 0 0x00000000
			  0x01000000 0 0x00000000
			  0 0x00800000>;
	};
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&spi {
	status = "okay";
};

&usb {
	status = "okay";
};
